__Income Statement__

In [167]:
import tabula
import pandas as pd
import numpy as np

pages = '4'
columns = [40,410,490]
area = (20, 0, 75, 100)
df = tabula.read_pdf("AAPL - Q1-2020.pdf", stream=True, guess=False, pages=pages, 
                     area=area, relative_area=True, columns=columns)

df = df[0].drop(["Unnamed: 0"], axis=1)
df = df.drop([0])

df.rename(columns={'Unnamed: 1': 'Income Statement', 
                   'December 28,': 'Q1 2020', 
                   'December 29,': 'Q1 2019'}, inplace=True)

df.replace(np.nan, '', inplace=True)
df.replace('\$', '', inplace=True, regex=True)
df

                                Income Statement    Q1 2020    Q1 2019
1                                     Net sales:
2                                       Products     79,104     73,435
3                                       Services     12,715     10,875
4                                Total net sales     91,819     84,310
5                                 Cost of sales:
6                                       Products     52,075     48,238
7                                       Services      4,527      4,041
8                            Total cost of sales     56,602     52,279
9                                   Gross margin     35,217     32,031
10                           Operating expenses:
11                      Research and development      4,451      3,902
12           Selling, general and administrative      5,197      4,783
13                      Total operating expenses      9,648      8,685
14                              Operating income     25,569     23,346
15                   Other income/(expense), net        349        560
16      Income before provision for income taxes     25,918     23,906
17                    Provision for income taxes      3,682      3,941
18                                    Net income     22,236     19,965
19                           Earnings per share:
20                                         Basic       5.04       4.22
21                                       Diluted       4.99       4.18
22  Shares used in computing earnings per share:
23                                         Basic  4,415,040  4,735,820
24                                       Diluted  4,454,604  4,773,252

__Balance Sheet__

In [166]:
pages = '6'
columns = [40,410,490]
area = (10, 0, 90, 100)
df1 = tabula.read_pdf("AAPL - Q1-2020.pdf", stream=True, guess=False, pages=pages, 
                     area=area, relative_area=True, columns=columns)

df1 = df1[0].drop(["Unnamed: 0"], axis=1)
df1 = df1.drop([0])

df1.rename(columns={'Unnamed: 1': 'Balance Sheet', 
                   'December 28,': 'Q1 2020', 
                   'September 28,': 'Q4 2019'}, inplace=True)

df1.replace(np.nan, '', inplace=True)
df1.replace('\$', '', inplace=True, regex=True)
df1

                                        Balance Sheet   Q1 2020   Q4 2019
1                                             ASSETS:
2                                     Current assets:
3                           Cash and cash equivalents    39,771    48,844
4                               Marketable securities    67,391    51,713
5                            Accounts receivable, net    20,970    22,926
6                                         Inventories     4,097     4,106
7                        Vendor non-trade receivables    18,976    22,878
8                                Other current assets    12,026    12,352
9                                Total current assets   163,231   162,819
10                                Non-current assets:
11                              Marketable securities    99,899   105,341
12                 Property, plant and equipment, net    37,031    37,378
13                           Other non-current assets    40,457    32,978
14                           Total non-current assets   177,387   175,697
15                                       Total assets   340,618   338,516
16              LIABILITIES AND SHAREHOLDERS’ EQUITY:
17                               Current liabilities:
18                                   Accounts payable    45,111    46,236
19                          Other current liabilities    36,263    37,720
20                                   Deferred revenue     5,573     5,522
21                                   Commercial paper     4,990     5,980
22                                          Term debt    10,224    10,260
23                          Total current liabilities   102,161   105,718
24                           Non-current liabilities:
25                                          Term debt    93,078    91,807
26                      Other non-current liabilities    55,848    50,503
27                      Total non-current liabilities   148,926   142,310
28                                  Total liabilities   251,087   248,028
29                      Commitments and contingencies
30                              Shareholders’ equity:
31  Common stock and additional paid-in capital, 0...
32  authorized; 4,384,959 and 4,443,236 shares iss...    45,972    45,174
33                                  Retained earnings    43,977    45,898
34      Accumulated other comprehensive income/(loss)     (418)     (584)
35                         Total shareholders’ equity    89,531    90,488
36         Total liabilities and shareholders’ equity   340,618   338,516

__Cash Flow Statement__

In [165]:
pages = '8'
columns = [40,410,490]
area = (10, 0, 90, 100)
df2 = tabula.read_pdf("AAPL - Q1-2020.pdf", stream=True, guess=False, pages=pages, 
                     area=area, relative_area=True, columns=columns)

df2 = df2[0].drop(["Unnamed: 0"], axis=1)
df2 = df2.drop([0,1])

df2.rename(columns={'Unnamed: 1': 'Cash Flow Statement', 
                   'Three Mon': 'Q1 2020', 
                   'ths Ended': 'Q4 2019'}, inplace=True)


df2.replace(np.nan, '', inplace=True)
df2.replace('—', '', inplace=True)
df2.replace('\$', '', inplace=True, regex=True)
df2

                                  Cash Flow Statement   Q1 2020   Q4 2019
2   Cash, cash equivalents and restricted cash, be...    50,224    25,913
3                               Operating activities:
4                                          Net income    22,236    19,965
5   Adjustments to reconcile net income to cash ge...
6                       Depreciation and amortization     2,816     3,395
7                    Share-based compensation expense     1,710     1,559
8               Deferred income tax expense/(benefit)     (349)        53
9                                               Other     (142)      (54)
10       Changes in operating assets and liabilities:
11                           Accounts receivable, net     2,015     5,130
12                                        Inventories      (28)   (1,076)
13                       Vendor non-trade receivables     3,902     6,905
14               Other current and non-current assets   (7,054)     (886)
15                                   Accounts payable   (1,089)   (8,501)
16                                   Deferred revenue       985     (370)
17          Other current and non-current liabilities     5,514       570
18             Cash generated by operating activities    30,516    26,690
19                              Investing activities:
20                 Purchases of marketable securities  (37,416)   (7,077)
21  Proceeds from maturities of marketable securities    19,740     7,203
22       Proceeds from sales of marketable securities     7,280     9,723
23  Payments for acquisition of property, plant an...   (2,107)   (3,355)
24  Payments made in connection with business acqu...     (958)     (167)
25             Purchases of non-marketable securities      (77)     (427)
26                                              Other     (130)      (56)
27   Cash generated by/(used in) investing activities  (13,668)     5,844
28                              Financing activities:
29             Proceeds from issuance of common stock         2
30  Payments for taxes related to net share settle...   (1,379)   (1,318)
31    Payments for dividends and dividend equivalents   (3,539)   (3,568)
32                        Repurchases of common stock  (20,706)   (8,796)
33           Proceeds from issuance of term debt, net     2,210
34                            Repayments of term debt   (1,000)
35  Proceeds from/(Repayments of) commercial paper...     (979)         6
36                                              Other      (16)
37                  Cash used in financing activities  (25,407)  (13,676)
38  Increase/(Decrease) in cash, cash equivalents ...   (8,559)    18,858
39  Cash, cash equivalents and restricted cash, en...    41,665    44,771
40                 Supplemental cash flow disclosure:
41                    Cash paid for income taxes, net     4,393     4,916
42                             Cash paid for interest       771       836